@media (max-width: 600px) {
    .navbar {
        position: relative;
    }

    .navbar .menu-bar {
        display: block;
        grid-column: 8 / 9;
        font-size: 2em;
        cursor: pointer;
    }

    .navbar .menu {
        position: absolute;
        width: 100%;
        height: 70vh;
        display: grid;
        align-items: center;
        background-color: #EDCB54;
        margin-top: 31em;
        transform: translateX(160%);
        transition: all 1s;
    }

  
    .navbar .menu-toggle {
        transform: translateX(40%);
    }

    /* MAIN SECTION*/
    .hero .info-content {
        grid-column: 2 / 6;
        grid-row: 4 / 8;
    }

    .hero h1 {
        font-size: 2.8em;
    }
}